/* Hide big photo on profile page. */
.pv-top-card-profile-picture__image {
    visibility: hidden;
}

/* 
 * Hide small photo visible when scrolling down on profile page
 * and photos on search result page.
 */
.presence-entity__image {
    visibility: hidden;
}

/* Hide school in profile header. */
.pv-top-card .pv-text-details__right-panel-item:nth-child(2) {
    visibility: hidden;
}